---
import Section from "../Section.astro";
import TranslatedText from "@/components/TranslatedText.astro";
import { getPropertyBasedOnLanguage } from '@/i18n/utils';
import { basics } from "@cv";

const summary = getPropertyBasedOnLanguage<string>(basics, 'summary');
const resumen = getPropertyBasedOnLanguage<string>(basics, 'resumen') || '';
---

<Section title="About">
    <p>
        <TranslatedText en={summary} es={resumen} />
    </p>
</Section>
