---
import Section from "../Section.astro";

import { skills } from "@cv"

import HTML from "@/icons/html.astro"
import CSS3 from "@/icons/css.astro"
import TypeScript from "@/icons/type.astro"
import React from "@/icons/react.astro"
import NodeJS from "@/icons/node.astro"
import SQLite from "@/icons/SQLite.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/GitHub.astro"
import Tailwind from "@/icons/tailwind.astro"
import Next from "@/icons/next.astro"
import JavaScript from "@/icons/javascript.astro";
import C from "@/icons/c.astro";
import Python from "@/icons/python.astro";
import Bash from "@/icons/bash.astro";
import AstroJS from "@/icons/AstroJS.astro";
// TODO: Obsidian


const SKILLS_ICONS: Record<string, any> = {
    C,
    Python,
    HTML,
    CSS3,
    JavaScript,
    TypeScript,
    React,
    NodeJS,
    SQLite,
    Git,
    GitHub,
    Next,
    Tailwind,
    AstroJS,
    Bash,

}

---

<Section title="Skills">
    <ul>
        {
            skills.map((skill) => {
                const { name, keywords, palabras_clave } = skill;
                const iconName = name == "NextJS" ? "Next" : name == "CSS" ? "CSS3" : name == "TypeScript" ? "TypeScript" : name == "Astro" ? "AstroJS" : name
                const Icon = SKILLS_ICONS[iconName]
                
                // Si hay un nivel traducido, agregarlo como atributos de datos
                //const hasTranslatedLevel = level && nivel;
                
                return(
                    <li>
                        {Icon && <Icon />}
                        <span>{name}</span>
                        {/*{hasTranslatedLevel && 
                            <span class="skill-level" data-en={level} data-es={nivel}>
                                {level}
                            </span>
                        }*/}   
                    </li>
                )
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        align-items: center;
        background: #eee;
        border-radius: 6px;
        color: #000;
        display: flex;
        font-size: .8rem;
        font-weight: 500;
        gap: 4px;
        padding: 0.2rem .6rem;
    }
    
    .skill-level {
        font-size: 0.65rem;
        opacity: 0.8;
        margin-left: 2px;
    }
</style>

